@import 'https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900';

.App{
  align-items: center;
  font-family: 'Lato', sans-serif;
  display: flex;
  font-weight: 300;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background: #E68EB0;
}

.ImageBG{
  position: absolute;
  top: -5vh;
  left: -5vh;
  width: 110vw;
  height: 110vh;
  background-size: cover;
  opacity: 1;
  mix-blend-mode: multiply;
  filter: blur(10px);
}

.Settings{
  width: 90vw;
  height: 90vh;
  position: relative;
  z-index: 2;
}