// Variables

// Colors
$blue: #05668D;
$seaweed: #028090;
$green: #00A896;
$lightgreen: #02C39A;
$white: #FEFFF7;
$black: #121212;

// Typography
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700';

//Styles
@mixin mq($width) { 
    @media screen and (max-width: $width){
        @content;
    }
}

body{
    background: $lightgreen;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container{
    background: $white;
    margin: 50px;
    height: 500px;
    width: calc(100vw - 100px);
    position: relative;
    overflow: hidden;
    padding: 50px;
    box-sizing: border-box;
    box-shadow: 0 -10px 10px -10px rgba($black, .25);

    @include mq(780px){
        height: 90vh;
    }

    @include mq(480px){
        margin: 20px;
        width: calc(100vw - 40px);
        height: 96vh;
        padding: 20px;
    }
}

.title{
    color: $blue;
    font-size: 60px;
    font-weight: 100;

    @include mq(780px){
        font-size: 48px;
    }

    @include mq(480px){
        font-size: 30px;
    }
}

.content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 5vh;

    @include mq(780px){
        flex-direction: column;
        justify-content: center;
        align-items: space-between;
        height: 80%
    }

    .group{
        width: 33.33%;
        text-align: center;

        @include mq(780px){
            width: 100%;
            flex: 1 0 auto;
        }

        .numbers{
            font-size: 96px;
            font-weight: 100;
            margin-bottom: 10px;
        }

        .label{
            text-transform: uppercase;
            font-weight: 600;
            font-size: 12px;
            letter-spacing: .1em;
        }
    }
}