@import 'https://fonts.googleapis.com/css?family=Concert+One';

#root{
  position: absolute;
  top: 0;
  font-family: 'Concert One', sans-serif;
  font-size: 50px;
  left: 0;
	width: 100vw;
	height: 100vh;
  background: rebeccapurple;
  display: flex;
	align-items: center;
	justify-content: center;
}

.Message{
  width: 500px;
  text-align: center;
  padding-bottom: 30px;
	border-radius: 20px;
	background: white;
	color: rgba(black, .8);
	box-shadow: 0 10px 20px rgba(black, .2);
}