//Adding styling using SASS

$animation-speed: 2.5s;
//colors
$moon1: #EDDDD4;
$moon2: #FCFAFA;
	
$sun1: #FFFFFF;
$sun2: #FFBE0B;
$sun3: #FB5607;

.Switch{
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: mistyrose;
    display: flex;
    justify-content: center;
    align-items: center;


    &::before{
        height: 1000vh;
        width: 100vw;
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        background: linear-gradient(to bottom,  rgba(17,28,43,1) 0%,rgba(53,55,130,1) 12%,
                    rgba(255,102,135,1) 28%,rgba(255,185,89,1) 45%,rgba(135,224,253,1) 72%,
                    rgb(81, 202, 241) 87%,rgba(5,171,224,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111c2b', 
                endColorstr='#05abe0',GradientType=0 );
        transition: top $animation-speed ease;
    }


    &[data-time="day"]{
        &::before{
            top: -900vh;
        }
    }

    .Toggle{
        $width: 200px;
        $height: $width/2;
        box-shadow: 0 0 10px rgba(black, .1);
    
        width: $width;
        height: $height;
        border: 5px solid rgba($moon2,.125);
        background: rgba($moon2,.05);
        padding: 20px;
        position: relative;
        border-radius: $width;

        &[data-time="day"]{
            .Button{
                left: $width/2 + 20px;
                box-shadow: 0 0 10px 10px $sun3;
				border: 1px solid rgba($sun3, 1) !important;
                top: 25px;
                
                &::before{
                    opacity: 1;
                }
            }
        }

    }



}





