@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700';

$blue: #2E294E;
$pink: #F61067;
$purple: #5E239D;
$white: #EADEDA;

@mixin mq($width){
    @media screen and (max-width: $width){
        @content;
    }
}

#app{
    height: 100vh;
    background: darken($blue, 15);
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;

    strong{
        font-weight: 600;
    }
}

.Location{
    width: 420px;
    height: 680px;
    background: $blue;
    border-radius: 10px;
    position: relative;
    overflow: hidden;

    @include mq(420px){
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    //UI
    .UI{
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white;
        border: 2px solid darken($pink,10);
		box-sizing: border-box;
        border-radius: 10px;
        
        @include mq(420px){
            border-radius: 0;
            border: 5px solid darken($pink, 10);
        }

        //Status
        .Status{
            position: absolute;
            left: 40px;
            top: 0px;
            opacity: 0;
            transition: top 1s ease 1s, opacity 1s ease 1s;
        }

        .LocationText{
            position: absolute;
            bottom: 80px;
            left: 40px;
            opacity: 0;
            transition: bottom 1s ease 1s, opacity 1s ease 1.5s;
        }

        .Blip{
            $size: 20px;
			width: $size;
			height: $size;
			background: $pink;
			border-radius: $size;
			box-shadow: 0 0 $size $size rgba($pink, .5);
			animation: pulse 5s infinite ease-in-out;
			opacity: 0;
			transition: opacity 1s ease 2s;
        }

        &[data-loaded="true"]{
            .Blip{
                opacity: 1;
            }

            .LocationText{
                bottom: 40px;
                opacity: 1;
            }

            .Status{
                top: 40px;
                opacity: 1;
            }
        }
    }


    // Map
	.Map {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		mix-blend-mode: multiply;
		border-radius: 10px;
		background: $blue;
		opacity: 0;
		transition: opacity 1s ease 1s;
		
		@include mq(420px) {
			border-radius: 0;
		}
		
		&[data-loaded="true"] {
			opacity: 1;
		}
	}
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba($pink, 0);
	}
	
	50% {
		box-shadow: 0 0 10px 0 rgba($pink, 1);
	}
	
	75%,
	100% {
		box-shadow: 0 0 20px 20px rgba($pink, 0);
	}
}

